<%= form_for(@packagebooking , :remote => true) do |f| %>
  <% if @packagebooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packagebooking.errors.count, "error") %> prohibited this packagebooking from being saved:</h2>

      <ul>
      <% @packagebooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.number_field :package_id %>
  </div>-->
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :tour_package%><br>
    <%= f.select :tour_package,["India","US"] %>
  </div>
  
  <div class="field">
    <%= f.label :facilities%><br>
    <%= f.text_field :facilities %>
  </div>
  <div class="field">
    <%= f.label :noofperson %><br>
    <%= f.number_field :noofperson %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.number_field :contact %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :doj %><br>
    <%= f.date_select :doj %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
