<%= render :partial => "site/adminmenu" %>
<div class="dashboard-right">
<h1>Listing packagebookings</h1>

<table border="1">
  <thead>
    <tr>
      <th>User</th>
      <th>Package</th>
      <th>Name</th>
      <th>Package</th>
      <th>Amount</th>
      <th>No of person</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Date of Birth</th>
      <th>Date of Joining</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @packagebookings.each do |packagebooking| %>
      <tr>
        <td><%= packagebooking.user_id %></td>
        <td><%= packagebooking.package_id %></td>
        <td><%= packagebooking.user_name %></td>
        <td><%= packagebooking.tour_package%></td>
        <td><%= packagebooking.amount %></td>
        <td><%= packagebooking.noofperson %></td>
        <td><%= packagebooking.email %></td>
        <td><%= packagebooking.contact %></td>
        <td><%= packagebooking.dob %></td>
        <td><%= packagebooking.doj %></td>
        <td><%= link_to 'Show', packagebooking %></td>
        <td><%= link_to 'Edit', edit_packagebooking_path(packagebooking) %></td>
        <td><%= link_to 'Destroy', packagebooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Packagebooking', new_packagebooking_path %>
</div>