<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @packagebooking.user_id %>
</p>

<p>
  <strong>Package:</strong>
  <%= @packagebooking.package_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @packagebooking.user_name %>
</p>
<p>
  <strong>Tour Package:</strong>
  <%= @packagebooking.tour_package %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @packagebooking.amount %>
</p>

<p>
  <strong>Noofperson:</strong>
  <%= @packagebooking.noofperson %>
</p>

<p>
  <strong>Email:</strong>
  <%= @packagebooking.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @packagebooking.contact %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @packagebooking.dob %>
</p>

<p>
  <strong>Date of journey:</strong>
  <%= @packagebooking.doj %>
</p>

<%= link_to 'Edit', edit_packagebooking_path(@packagebooking) %> |
<%= link_to 'Back', packagebookings_path %>
