<%= render :partial => "site/adminmenu" %>
<div class="dashboard-right">
    <h1>Listing packages</h1>

    <table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Facilities</th>
      <th>Price</th>
      <th>Status</th>
      <th>Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @packages.each do |package| %>
      <tr>
        <td><%= package.title %></td>
        <td><%= package.description %></td>
        <td><%= package.facilities%></td>
        <td><%= package.price %></td>
        <td><%= package.status %></td>
        <td><%= package.type %></td>
        <td><%= link_to 'Show', package %></td>
        <td><%= link_to 'Edit', edit_package_path(package) %></td>
        <td><%= link_to 'Destroy', package, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    

  </tbody>
    </table><br>
    <%= link_to 'New Package', new_package_path %>
</div>
