<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @package.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @package.description %>
</p>
<p>
  <strong>Facilities:</strong>
  <%= @package.facilities %>
</p>
<p>
  <strong>Price:</strong>
  <%= @package.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @package.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= @package.type %>
</p>

<%= link_to 'Edit', edit_package_path(@package) %> |
<%= link_to 'Back', packages_path %>
