 <div class="content">
<div >
<!--	
<table>
	<tr>

	<td><a href="site/index"></a></td>
  	<td><a href="dashboard">Admin Dasboard</a></td>
  	<td><a href="userdashboard"> User Dashboard</a></td>
  </tr>
</table>
 -->
 <div class="page-header float:left ">
  <h1>Book My Tour <small>Explore and Enjoy...</small></h1>
</div>
<ul class="nav nav-pills">
  <li class="active"><a href="/">BookMyTour</a></li>
  <li class="active"><a href="/dashboard">Admin Dasboard</a></li>
  <li class="active"><a href="/userdashboard"> User Dashboard</a></li>
</ul>
</div>
<div class="span5">

</div>	
</div>
