
<div class="dashboard-left">

<ul class="nav nav-stacked.">
  <li class="active"><a href="site/index">Home</a></li>
  <li><a href="#" id="test">Package Booking</a></li>
  <li><a href="cabbookings"> Cab Booking</a></li>
  
</ul>
</div>

