<div style="float:left;">
  
  <% @packages.each do |package|%>
  <%= package.title %>
  <ul class="media-list box " >
  <li class="media">
    <a class="pull-left" href="/packages">
      <img class="media-object" src="<%= asset_path('eiffelTower.jpg') %>" alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= package.title %></h4><hr style="border-top: 1px solid black;
border-bottom: 1px solid black;">
      <h5 class="media-heading">Description : <%= package.description %></h5><hr style="border-top: 1px solid black;
border-bottom: 1px solid black;">
<h5 class="media-heading">Facilities : <%= package.facilities %></h5>
<hr style="border-top: 1px solid black;
border-bottom: 1px solid black;"> 
      <h5 class="media-heading">Amount : <%= package.price %></h5><hr style="border-top: 1px solid black;
border-bottom: 1px solid black;">
	  <h5 class="media-heading">Status : <%= package.status %></h5 style="border-top: 1px solid black;
border-bottom: 1px solid black;">

		
		<%= link_to 'BooK', "packagebookings/new", :class => "btn btn_newS " %>
    

		
    </div>
  </li>
  </ul>	
  <% end %>
</div>







