<%= render :partial => "site/usermenu"%>
<div style="float:right;">
  <h1>Listing p ackagebookings</h1>
  <table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Package</th>
      <th>Amount</th>
      <th>No of person</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Date of Booking</th>
      <th>Date of Journing</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @packagebookings.each do |packagebooking| %>
      <tr>
        <td><%= packagebooking.id %></td>
        
        <td><%= packagebooking.user_name %></td>
        <td><%= packagebooking.tour_package%></td>
        <td><%= packagebooking.amount %></td>
        <td><%= packagebooking.noofperson %></td>
        <td><%= packagebooking.email %></td>
        <td><%= packagebooking.contact %></td>
        <td><%= packagebooking.dob %></td>
        <td><%= packagebooking.doj %></td>
        <td><%= link_to 'Show', packagebooking %></td>
        <td><%= link_to 'Edit', edit_packagebooking_path(packagebooking) %></td>
        <td><%= link_to 'Destroy', packagebooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
  </table><br>
  <%= link_to 'New Packagebooking', new_packagebooking_path %>
</div>