<%= form_for(@cab) do |f| %>
  <% if @cab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cab.errors.count, "error") %> prohibited this cab from being saved:</h2>

      <ul>
      <% @cab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cab_name %><br>
    <%= f.text_field :cab_name %>
  </div>
  <div class="field">
    <%= f.label :cab_type %><br>
    <%= f.text_field :cab_type %>
  </div>
  <div class="field">
    <%= f.label :cab_number %><br>
    <%= f.text_field :cab_number %>
  </div>
  <div class="field">
    <%= f.label :cab_rate %><br>
    <%= f.text_field :cab_rate %>
  </div>
  <div class="field">
    <%= f.label :cab_running %><br>
    <%= f.number_field :cab_running %>
  </div>
  <div class="field">
    <%= f.label :cab_status %><br>
    <%= f.text_field :cab_status %>
  </div>
  <div class="field">
    <%= f.label :cab_company %><br>
    <%= f.text_field :cab_company %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
