
<%= render :partial => "site/adminmenu" %>
<div class="dashboard-right">

<h1>Listing cabs</h1>

<table border="1">
  <thead>
    <tr>
      <th>Cab name</th>
      <th>Cab type</th>
      <th>Cab number</th>
      <th>Cab rate</th>
      <th>Cab running</th>
      <th>Cab status</th>
      <th>Cab company</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cabs.each do |cab| %>
      <tr>
        <td><%= cab.cab_name %></td>
        <td><%= cab.cab_type %></td>
        <td><%= cab.cab_number %></td>
        <td><%= cab.cab_rate %></td>
        <td><%= cab.cab_running %></td>
        <td><%= cab.cab_status %></td>
        <td><%= cab.cab_company %></td>
        <td><%= link_to 'Show', cab %></td>
        <td><%= link_to 'Edit', edit_cab_path(cab) %></td>
        <td><%= link_to 'Destroy', cab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab', new_cab_path %>
</div>
