<p id="notice"><%= notice %></p>

<p>
  <strong>Cab name:</strong>
  <%= @cab.cab_name %>
</p>

<p>
  <strong>Cab type:</strong>
  <%= @cab.cab_type %>
</p>

<p>
  <strong>Cab number:</strong>
  <%= @cab.cab_number %>
</p>

<p>
  <strong>Cab rate:</strong>
  <%= @cab.cab_rate %>
</p>

<p>
  <strong>Cab running:</strong>
  <%= @cab.cab_running %>
</p>

<p>
  <strong>Cab status:</strong>
  <%= @cab.cab_status %>
</p>

<p>
  <strong>Cab company:</strong>
  <%= @cab.cab_company %>
</p>

<%= link_to 'Edit', edit_cab_path(@cab) %> |
<%= link_to 'Back', cabs_path %>
