<%= form_for(@cabbooking) do |f| %>
  <% if @cabbooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cabbooking.errors.count, "error") %> prohibited this cabbooking from being saved:</h2>

      <ul>
      <% @cabbooking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cab_id %><br>
    <%= f.number_field :cab_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :cab_from %><br>
    <%= f.text_field :cab_from %>
  </div>
  <div class="field">
    <%= f.label :cab_to %><br>
    <%= f.text_field :cab_to %>
  </div>
  <div class="field">
    <%= f.label :booking_date %><br>
    <%= f.date_select :booking_date %>
  </div>
  <div class="field">
    <%= f.label :noofperson %><br>
    <%= f.number_field :noofperson %>
  </div>
   <div class="field">
    <%= f.label :cab_trip %><br>
    <%= f.text_field :cab_trip %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
