<%= render :partial => "site/adminmenu" %>
<div class="dashboard-right">
<h1>Listing cabbookings</h1>

<table border="1">
  <thead>
    <tr>
      <th>Cab</th>
      <th>User</th>
      <th>User Name </th>
      <th>Cab from</th>
      <th>Cab to</th>
      <th>Booking date</th>
      <th>Noofperson</th>
       <th>Cab Trip</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>iv
    </tr>
  </thead>

  <tbody>
    <% @cabbookings.each do |cabbooking| %>
      <tr>
        <td><%= cabbooking.cab_id %></td>
        <td><%= cabbooking.user_id %></td>
        <td><%= cabbooking.user_name %></td>
        <td><%= cabbooking.cab_from %></td>
        <td><%= cabbooking.cab_to %></td>
        <td><%= cabbooking.booking_date %></td>
        <td><%= cabbooking.noofperson %></td>
         <td><%= cabbooking.cab_trip %></td>
        <td><%= cabbooking.amount %></td>
        <td><%= link_to 'Show', cabbooking %></td>
        <td><%= link_to 'Edit', edit_cabbooking_path(cabbooking) %></td>
        <td><%= link_to 'Destroy', cabbooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cabbooking', new_cabbooking_path %>
</div>