<p id="notice"><%= notice %></p>

<p>
  <strong>Cab:</strong>
  <%= @cabbooking.cab_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @cabbooking.user_id %>
</p>

<p>
  <strong>Cab from:</strong>
  <%= @cabbooking.cab_from %>
</p>

<p>
  <strong>Cab to:</strong>
  <%= @cabbooking.cab_to %>
</p>

<p>
  <strong>Booking date:</strong>
  <%= @cabbooking.booking_date %>
</p>

<p>
  <strong>Noofperson:</strong>
  <%= @cabbooking.noofperson %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cabbooking.amount %>
</p>

<%= link_to 'Edit', edit_cabbooking_path(@cabbooking) %> |
<%= link_to 'Back', cabbookings_path %>
