<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bookmytour" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    
    <div class="container">
      <header>
      <p>
        
        <%= render :partial => "site/header" %>
      </p>
     </header> 
     
        <div class="row">
          <div >
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
         
          
        </div>
      <!--/row-->

      <footer>
           <%= render :partial => "site/footer" %>
        <p></p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
